{% extends 'department/base.html' %}
{% load static %}

{% block content %}

<section class="about_us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                <div class="about_title">
                    <span>About Us</span>
                    <h2>The most gorgeous department to be part of in University Of Calabar.</h2>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 p-0">
                <div class="banner_about">
                    <img src="{% static 'images/DR MRS ETENG.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row about_content_wrapper">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 p-0">
                <div class="about_banner_down">
                    <img src="{% static 'images/DR EDIM.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                <div class="about_content">
                    <p>Welcome to the vibrant and dynamic Computer Science Department at our school, where innovation
                        meets education! Our department is a hub of intellectual curiosity and technological
                        advancement, committed to shaping the future leaders of the digital age.</p>

                </div>
            </div>
        </div>
    </div>
</section>


<!--========={ Popular Courses }========-->
<section class="unlimited_possibilities" id="about_unlimited_possibilities">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Unlimited Possibilities</h2>
                </div><!-- ends: .section-header -->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_first">
                    <div class="icon_wrapper">
                        <i class="flaticon-student"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Vision</a></h3>
                        <p>To be one Nigeria's leading enviroment for learning, teaching and researching in Computer
                            Science, Information Technology and Informatics, collaborating locally and internationally
                            to strenthen the Computer Science profession.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_center">
                    <div class="icon_wrapper">
                        <i class="flaticon-university"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Our Mission</a></h3>
                        <p>
                            Provide quality education to both undergraduate and graduate students in the areas of
                            theoritical and applied Computer Science to enable them solve real-world problems.
                            Conduct research to advance the Computer Science Body of Knowledge, and apply the new
                            knowledge to relevant areas of human endeavour.
                            Provide education in Computers and their applications to students from other department of
                            the University of Calabar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_last">
                    <div class="icon_wrapper">
                        <i class="flaticon-diploma"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Objectives</a></h3>
                        <p>To give students a broad and deep understanding of the fundamental concepts and principles
                            underlying the technology and workings of computer and computing devices.</p>
                        <p>To prepare students for career paths in Computer Science through in-programme industrial work
                            experience;
                            To produce relevant and efficient Information Technology personnel to meet the ever-growing
                            needs of both public and private sectors of economies, be it local, state or national.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Popular Courses -->

<!--========={ Our Instructiors }========-->
<section class="our_instructors" id="about_our_instructors">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Meet Our Professors</h2>
                </div><!-- ends: .section-header -->
            </div>
            <div class="single-wrappe col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="{% static 'images/PROF. JOSEPH ESIN.jpg' %}" alt="member img"
                                    class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Prof. JOSEPH ESIN</a></h4>
                                <span>Professor</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="{% static 'images/PROF. OBETEN EKABUA.jpg' %}" alt="member img"
                                    class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Prof. OBETEN EKABUA</a></h4>
                                <span>Professor</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="single-wrapper  col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item ">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="{% static 'images/DR. OFEM AJAH.jpg' %}" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">DR. OFEM AJAH</a></h4>
                                <span>Lecturer</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="{% static 'images/DR. MOSES AGANA.jpg' %}" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">DR. MOSES ADANA</a></h4>
                                <span>Associate Prof.</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="{% static 'images/DR. IWARA ARIKPO.jpg' %}" alt="member img"
                                    class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">DR. IWARA ARIKPO</a></h4>
                                <span>Associate Prof.</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./ End Our Instructiors -->


<section class="out_count_student">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Everything Is Computerized</h2>
                </div><!-- ends: .section-header -->
            </div>
        </div>
    </div>
    <div class="bg_shapes">

    </div>
</section><!-- End Testimonial -->




<section class="teamgroup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <div class="teamgroup_info_wrapper">
                    <h2>Join Us</h2>
                    <a href="{% url 'register_student' %}" title="" class="srtarte_btn">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}